# Core Framework
Django>=6.0.0

# Database & Environment
psycopg2-binary>=2.9.9
dj-database-url>=3.1.2
python-dotenv>=1.0.1

# Production Deployment
gunicorn>=21.2.0
whitenoise>=6.6.0

# Integrations
razorpay>=2.0.1
google-genai>=0.5.0

# APIs and Django Add-ons
djangorestframework>=3.16.1
djangorestframework-simplejwt>=5.5.1
django-cors-headers>=4.9.0

# Image & Form Handling
Pillow>=10.2.0
django-crispy-forms>=2.6
crispy-bootstrap5>=2024.2

# Markdown Processing
markdownify>=0.11.0
